body {
  margin: 0;
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: center;
  background-color: rgba(122, 117, 117, 0.75);
}
.Dashboard {
  min-height: 80vh;
}

.layout {
  display: flex;
  flex-direction: row;     /* nebeneinander */
  gap: 1rem;               /* Abstand zwischen Sidebar & Content */
  min-height: 70vh;
  min-width: 80vw;  
  align-items: stretch;
  box-sizing: border-box;
}


.sidebar {
  background-color: rgba(255, 255, 255, 0.75);
  min-height: 100%;
  min-width: 25%;
  padding-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  padding: 15px 0;
  z-index: 1000;
  overflow: hidden;
}

.content {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  box-sizing: border-box;
}

.account-list {
  max-width: calc(100% - 2rem); 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}


