body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  text-align: center;
  justify-content: center;
  background-color: rgba(122, 117, 117, 0.75);
}

.Dashboard {
  min-height: 80vh;
}

.account-list {
  max-width: calc(80vw - 2rem);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}


