.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: lightskyblue;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px -5px 0px rgba(0, 0, 0, 0.1);
}

.footer h1 {
  text-align: center;
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}