body {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;            
  font-family: system-ui, sans-serif;
  text-align: center;
  background-color: rgba(167, 159, 159, 0.75);
}

.Login {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
