body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  text-align: center;
  background-color: rgba(122, 117, 117, 0.75);
}

.master {
  background-color: rgba(255, 255, 255, 0.75);
  height: fit-content;
  min-width: 80vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.master form {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 1rem;
}

.master form > .MuiTextField-root {
  width: 60%;
}

.master form > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.master form > div > .MuiTextField-root {
  width: calc(50% - 0.5rem);
}

.master form > div > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.master form > div > div > .MuiTextField-root {
  flex: 1;
  min-width: 0;
}

.master form > button {
  align-self: flex-start;
  margin-top: 1rem;
}